<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Genetec.Dap.AccessControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Genetec.Dap.AccessControl.Properties.Settings.ConnectionString"
            connectionString="Data Source=ALAFLEUR02\SQLEXPRESS;Initial Catalog=AlertEnterprise;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <Genetec.Dap.AccessControl.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
	        <setting name="Password" serializeAs="String">
		        <value></value>
	        </setting>      
	        <setting name="StartDate" serializeAs="String">
		        <value>2024-04-29T18:30:00</value>
	        </setting>
            <setting name="EndDate" serializeAs="String">
                <value>2024-05-01T18:40:00</value>
            </setting>
            <setting name="FilterEmployeeId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EventTypes" serializeAs="String">
                <value>AccessGranted,CardholderAccessGranted</value>
            </setting>
			<setting name="ApplyAccessRuleFilter" serializeAs="String">
				<value>True</value>
			</setting>
            <setting name="MaximumResultCount" serializeAs="String">
                <value>5000</value>
            </setting>
        </Genetec.Dap.AccessControl.Properties.Settings>
    </applicationSettings>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="consoleTraceListener" type="System.Diagnostics.ConsoleTraceListener"/>
				<!--<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logs.log"/>-->
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
